<!DOCTYPE HTML>
<!--
	Read Only by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
        <title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

	<!-- Header -->
		<section id="header">
			<header>
                <h1 id="logo"><a href="#">{{title}}</a></h1>
			</header>
			<nav id="nav">
				<ul>
				{{#each section}}
					<li><a href="#{{this.id}}" class="active">{{this.title}}</a></li>
				{{/each}}
				</ul>
			</nav>
		</section>

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
				<div id="main">
				{{#each section}}
					<section id="{{this.id}}">
						<div class="container">
							<header class="major">
								<h2>{{this.title}}</h2>
							</header>
							{{#each this.content}}
							<p style="font-size: 1.5em;"><strong>{{this.sub_title}}</strong></p>
							<p style="margin-bottom: 2em; text-align: justify; text-justify:inter-ideograph;">{{this.sub_detail}}</p>
							{{/each}}
						</div>
					</section>
				{{/each}}
				</div>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<ul class="copyright">
							<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</section>

		</div>

	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollzer.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>

	</body>
</html>
